body {
  margin: 0;
  background-color: #ffe1f9;
}

.chatlog {
  width: 99%;
  text-align: center;
  height: 420px;
  overflow: scroll;
  position: relative;
}

h1 {
  text-align: center;
  font-size: 70px;
  color: #1647fb;
  font-family: 'Lobster', cursive;
}

.input {
  width: 70%;
  height: 50px;
  text-align: center;
  float: left;
  font-size: 16px;
  font-family: sans-serif;
  letter-spacing: 1px;
  margin-left: 70px;
}

#submit {
  width: 20%;
  float:left;
  height: 54px;
  background-color:  #1647fb;
  color: white;
  font-family: 'Lobster', cursive;
  font-size: 25px;
  border: solid 1px white;
}


.username {
  font-size: 16px;
  font-family: sans-serif;
  letter-spacing: 1px;
  position: absolute;
  left: 25px;
}

.red {
  background-color: #ff4d4d;
  font-size: 16px;
  border-radius: 20px;
  color: black;
  box-sizing: border-box;
  padding: 12px 0 12px 0;
  font-family: sans-serif;
  letter-spacing: 1px;
  margin-left: 140px;
  width: 800px;
}

.blue {
  background-color:  #1647fb;
  font-size: 16px;
  border-radius: 20px;
  color: black;
  box-sizing: border-box;
  padding: 12px 0 12px 0;
  font-family: sans-serif;
  letter-spacing: 1px;
  margin-left: 140px;
  width: 800px;
}

.green {
  background-color: #66ff66;
  font-size: 16px;
  border-radius: 20px;
  color: black;
  box-sizing: border-box;
  padding: 12px 0 12px 0;
  font-family: sans-serif;
  letter-spacing: 1px;
  margin-left: 140px;
  width: 800px;
}

.yellow {
  background-color: #ffff4d;
  font-size: 16px;
  border-radius: 20px;
  color: black;
  box-sizing: border-box;
  padding: 12px 0 12px 0;
  font-family: sans-serif;
  letter-spacing: 1px;
  margin-left: 140px;
  width: 800px;
}

input[type="radio"] {
  width: 22px;
  height: 22px;
  margin-top: 5px;
}

label {
  font-size: 20px;
  font-family: sans-serif;
  letter-spacing: 1px;
  color: white;
  font-family: 'Lobster', cursive;
  margin-right: 15px;
}

.color-selector {
  display: block;
  background-color: #1647fb;
  width: 365px;
  padding: 18px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  border: solid 1px white;
}

.hide {
  display: none;
}

.login {
  margin-top: 8%;
  margin-left: 15%;
  margin-right: 15%;
  background-color: #1647fb;
  height: 230px;
  padding: 20px;
  padding-top: 40px;
  box-sizing: border-box;
  border-radius: 20px;
box-shadow: 7px 10px 34px 1px rgba(0, 0, 0, 0.12), inset -1px -6px 12px 0.1px #b3b3b3;
}

.emoji-dialog {
  width: 276px;
  height: 220px;
  background: #fff;
  box-sizing: border-box;
  border-radius: 2px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.1), 0 2px 15px rgba(0,0,0,0.1);
}

.emoji-dialog .emoji-dialog-header {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 42px;
  padding: 0 10px;
  background-color: #F5F7F9;
}

.emoji-dialog .emoji-dialog-header ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.emoji-dialog .emoji-dialog-header li {
  display: inline-block;
  box-sizing: border-box;
  width: 32px;
  height: 42px;
  padding: 9px 4px;
}

.emoji-dialog .emoji-dialog-header img {
  width: 22px;
  height: 22px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.emoji-dialog .emoji-dialog-header li.active {
  background: #fff;
}

.emoji-dialog .emoji-dialog-header li.active img {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

.emoji-dialog .emoji-grandlist {
  position: absolute;
  top: 42px;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
  height: calc(100% - 42px);
  overflow-x: hidden;
  overflow-y: auto;
}

.emoji-dialog .emoji-category-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.emoji-dialog .emoji-category-list li {
  display: inline-block;
  box-sizing: border-box;
  width: 32px;
  height: 32px;
  padding: 4px;
  border-radius: 4px;
}

.emoji-dialog .emoji-category-header {
  margin-top: 10px;
  margin-bottom: 8px;
  font-size: 18px;
  font-family: sans-serif;
  font-weight: normal;
  color: #444;
  padding: 0 4px;
}

.emoji-dialog .modifiers {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 22px;
  right: 15px;
}

.emoji-dialog.with-search .modifiers {
  top: 52px;
}

.emoji-dialog .modifiers li {
  display: inline-block;
  padding: 0 2px;
}

.emoji-dialog .modifiers .modifier {
  display: inline-block;
  border-radius: 10px;
  width: 15px;
  height: 15px;
  position: relative;
}

.emoji-dialog .modifiers .modifier.active::after {
  content: "";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 10px;
  border: 2px solid #fff;
  top: 2px;
  left: 2px;
}

.emoji-dialog .modifiers li:hover {
  -moz-transition-duration: 200ms;
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;

  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  transform: scale(1.2);
}

.emoji-dialog .emoji-search-wrapper {
  padding: 0 5px;
}

.emoji-dialog .emoji-search {
  font-size: 12px;
  padding: 6px 4px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.emoji-dialog .emoji-category-list li:hover {
  background: #F5F7F9;
}

.emoji-dialog .emoji-category-list .emoji img {
  width: 22px;
  height: 22px;
}

.emoji-div {
  background-color: blue;
}
