.chatlog {
  width: 99%;
  text-align: center;
  height: 300px;
}

h1 {
  text-align: center;
  font-size: 60px;
  color: #4db8ff;
  font-family: 'Lobster', cursive;
}

.input {
  width: 79%;
  height: 50px;
  text-align: center;
  float: left;
  font-size: 16px;
  font-family: sans-serif;
  letter-spacing: 1px;
}

#submit {
  width: 20%;
  float:left;
  height: 54px;
  background-color: #4db8ff;
  color: white;
  font-family: 'Lobster', cursive;
  font-size: 25px;
  border: solid 1px #b3b3b3;
}


.username {
  font-size: 16px;
  font-family: sans-serif;
  letter-spacing: 1px;
  float: left;
}

.red {
  background-color: #ff4d4d;
  font-size: 16px;
  border-radius: 20px;
  color: black;
  box-sizing: border-box;
  padding: 8px 0 8px 0;
  font-family: sans-serif;
  letter-spacing: 1px;
  margin-left: 50px;
}

.blue {
  background-color: #4db8ff;
  font-size: 16px;
  border-radius: 20px;
  color: black;
  box-sizing: border-box;
  padding: 8px 0 8px 0;
  font-family: sans-serif;
  letter-spacing: 1px;
  margin-left: 50px;
}
.green {
  background-color: #66ff66;
  font-size: 16px;
  border-radius: 20px;
  color: black;
  box-sizing: border-box;
  padding: 8px 0 8px 0;
  font-family: sans-serif;
  letter-spacing: 1px;
  margin-left: 50px;
}
.yellow {
  background-color: #ffff4d;
  font-size: 16px;
  border-radius: 20px;
  color: black;
  box-sizing: border-box;
  padding: 8px 0 8px 0;
  font-family: sans-serif;
  letter-spacing: 1px;
  margin-left: 50px;
}
